html {
  --outer-padding: 1rem;
  --accent-background-color: #75e4f8;
  --text-color: black;
  --visited-link-color: #89019b;
  font-family: 'Cormorant Garamond', sans-serif;
  background-color: #f1f5f9;
}

html a:visited {
  color: var(--visited-link-color);
}

html.dark {
  --text-color: white;
  --accent-background-color: #2010f7;
  --visited-link-color: #d4cfcf;
  background-color: #1e1e20;
  color: var(--text-color);
}

.dark .nav-links a {
  color: var(--text-color);
}

.dark a {
  color: var(--text-color);
}

body {
  margin: 0 auto;
  width: 100%;
  max-width: 80ch;
  line-height: 1.5;
}

main {
  padding: var(--outer-padding);
  min-height: calc(100vh - 20px);
}

* {
  box-sizing: border-box;
}

h1 {
  margin: 1rem 0;
  font-size: 2.5rem;
}

/* nav styles */
.hamburger {
  padding-right: 20px;
  cursor: pointer;
}

.hamburger .line {
  display: block;
  width: 40px;
  height: 5px;
  margin-bottom: 10px;
  background-color: var(--text-color);
}

.nav-links {
  width: 100%;
  top: 5rem;
  left: 48px;
  display: none;
  margin: 0;
}

.nav-links a {
  display: block;
  text-align: center;
  padding: 10px 0;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
}

.nav-links a:hover,
.nav-links a:focus {
  background-color: var(--accent-background-color);
}

.expanded {
  display: unset;
}

footer {
  display: flex;
  gap: 1rem;
  margin-top: 6rem;
  background-color: black;
  padding: 8px 16px;
}

footer a {
  color: white;
}

footer a:visited {
  color: var(--visited-link-color);
}

@media screen and (min-width: 636px) {
  .nav-links {
    margin-left: 5em;
    display: block;
    position: static;
    width: auto;
    background: none;
  }

  .nav-links a {
    display: inline-block;
    padding: 15px 20px;
  }

  .hamburger {
    display: none;
  }
}
