---
import Tag from '@components/Tag.astro';
import BaseLayout from '@layouts/BaseLayout.astro';
import { getCollection } from 'astro:content';
const allPosts = await getCollection('posts');
const uniqueTags = [
  ...new Set(allPosts.map((post) => post.data.categories).flat()),
].filter(Boolean);
---

<style>
  a {
    color: #00539f;
  }

  .tags {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }
</style>

<BaseLayout pageTitle="Tags">
  <div class="tags">
    {uniqueTags.map((tag) => <Tag value={tag} />)}
  </div>
</BaseLayout>
