---
import Tag from '@components/Tag.astro';
import BaseLayout from '@layouts/BaseLayout.astro';
import { getCollection } from 'astro:content';
const allPosts = await getCollection('posts');
const allTags = allPosts.map((post) => post.data.categories).flat();
const uniqueTags = [...new Set(allTags)].filter(Boolean);
const tagWithCount = uniqueTags.map((tag) => ({
  label: tag,
  count: allTags.filter((t) => t === tag).length,
}));

tagWithCount.sort((a, b) => (a.count > b.count ? -1 : 1));
---

<BaseLayout pageTitle="Tags">
  <div class="tag-list">
    {
      tagWithCount.map(({ label, count }) => (
        <p>
          <Tag value={label} /> ({count})
        </p>
      ))
    }
  </div>
</BaseLayout>

<style>
  .tag-list {
    display: flex;
    flex-direction: column;
  }
</style>
