---
import FormattedDate from './FormattedDate.astro';

type BlogPostCardProps = {
  slug: string;
  title: string;
  date: string;
  excerpt: string;
};

interface Props {
  items: BlogPostCardProps[];
}

const { items } = Astro.props;
---

<div class="list">
  {
    items.map(({ slug, date, title, excerpt }) => (
      <a href={`/posts/${slug}/`} class="card">
        <span class="title">{title}</span>
        <span class="excerpt">
          {excerpt} <span class="read-more">...read more</span>
        </span>
        <span class="date">
          <FormattedDate dateString={date} />
        </span>
      </a>
    ))
  }
</div>

<style>
  .list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .card {
    padding: 1rem;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    color: var(--text-color);
    border-radius: var(--box-border-radius);
    text-decoration: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: var(--foreground-color);
  }

  .title {
    flex: 1;
    font-size: x-large;
    font-weight: 600;
  }

  .read-more {
    text-decoration: underline;
  }

  .date {
    align-self: flex-end;
    font-style: italic;
  }

  @media screen and (min-width: 636px) {
    .card {
      padding: 1rem 2rem;
    }
  }
</style>
