---
const links = [
  {
    href: 'https://www.linkedin.com/in/pawel-kowaluk/',
    label: 'Linkedin',
  },
];

import FooterLink from '@components/FooterLink';
---

<footer>
  <div>
    <p>
      This repo on <a href="https://github.com/pensjonatus/pensjonatus"
        >GitHub</a>
    </p>
    {links.map((linkProps) => <FooterLink {...linkProps} />)}
  </div>
</footer>
