---
import Navigation from '@components/Navigation.astro';
import ThemeIcon from './ThemeIcon.astro';
---

<header>
  <Navigation />
  <div class="right">
    <a href={`${import.meta.env.BASE_URL}/rss.xml`}>RSS</a>
    <ThemeIcon />
  </div>
</header>

<style>
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--outer-padding);
  }

  .right {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
</style>
