---

---

<nav role="navigation" aria-label="Main menu">
  <div class="nav">
    <a href="/">Stories</a>
    <a href="/tags">Tags</a>
  </div>
</nav>

<style>
  .nav {
    display: flex;
    gap: 1rem;
  }

  .nav a {
    color: var(--text-color);
    text-decoration: none;
    padding: 6px 0;
  }
</style>
