---
interface Props {
  value: string;
}

const { value } = Astro.props;
---

<a href={`${import.meta.env.BASE_URL}/tags/${value}`} class="tag">{value}</a>

<style>
  .tag {
    padding: 6px 12px;
    border: 0.5px solid var(--text-color);
    border-radius: 6px;
    background-color: var(--foreground-color);
    text-decoration: none;
  }
</style>
