---
import Footer from '@components/Footer.astro';
import Header from '@components/Header.astro';
import '@fontsource/crimson-text';
import '../styles/global.css';

interface Props {
  pageTitle: string;
  isHome?: boolean;
}

const { pageTitle, isHome } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href={`/favicon.ico`} />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
  </head>
  <body>
    <Header />
    <main>
      {
        isHome ? (
          <div class="header-with-image">
            <div
              role="img"
              aria-label="a hand drawing of a hollow-faced person sitting, thinking, sighing, dreaming."
              class="header-image"
            />
            <div>
              <h1>{pageTitle}</h1>
              <p class="byline">Flash fiction by Paweł Kowaluk</p>
            </div>
          </div>
        ) : (
          <h1>{pageTitle}</h1>
        )
      }
      <slot />
    </main>
    <Footer />
  </body>
</html>
