---
import FormattedDate from '@components/FormattedDate.astro';
import BaseLayout from './BaseLayout.astro';

const { frontmatter } = Astro.props;
---

<style>
  .meta {
    display: flex;
    gap: 1rem;
    font-style: italic;
    font-size: 90%;
  }

  .description {
    border-left: 3px solid gray;
    padding-left: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
  }

  a {
    color: #00539f;
  }

  .tags {
    display: flex;
    flex-wrap: wrap;
  }

  .tag {
    margin: 0.25em;
    border: dotted 1px #a1a1a1;
    border-radius: 0.5em;
    padding: 0.5em 1em;
    font-size: 1.15em;
    background-color: #f8fcfd;
  }
</style>

<BaseLayout pageTitle={frontmatter.title}>
  <div class="meta">
    <FormattedDate dateString={frontmatter.date} />
  </div>
  <div class="tags">
    {
      frontmatter.categories.map((tag: string) => (
        <p class="tag">
          <a href={`/tags/${tag}`}>{tag}</a>
        </p>
      ))
    }
  </div>
  <slot />
</BaseLayout>
