---
import FormattedDate from '@components/FormattedDate.astro';
import BaseLayout from './BaseLayout.astro';
import Tag from '@components/Tag.astro';

const { frontmatter } = Astro.props;
---

<style>
  .meta {
    display: flex;
    gap: 1rem;
    font-style: italic;
    font-size: 90%;
  }

  .description {
    border-left: 3px solid gray;
    padding-left: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
  }

  a {
    color: #00539f;
  }

  .tags {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }
</style>

<BaseLayout pageTitle={frontmatter.title}>
  <div class="meta">
    <FormattedDate dateString={frontmatter.date} />
  </div>
  <div class="tags">
    {frontmatter.categories.map((tag: string) => <Tag value={tag} />)}
  </div>
  <slot />
</BaseLayout>
